.container-projects{
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.title-projects {
    font-size: 9rem;
    text-align: center;
}
.filter-container {
    margin: 3rem;
}