.language-container{
  position: fixed;
  top: 15rem;
  right: 5rem;
  z-index: 1000;
}
.language-switch {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  padding: 0;
  background: var(--color-baby-pink);
  border: var(--color-dark-pink) 0.5rem solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: clamp(80px, 8vw, 120px);
  height: clamp(36px, 4.5vw, 48px);

  outline: none;
}

.language-switch:focus-visible {
  box-shadow: 0 0 0 2px var(--color-shadow-gray), 0 0 0 4px var(--color-dark-pink);
}

.language-switch__inner {
  position: relative;
  width: 90%;
  height: 70%;
  border-radius: 999px;
  background: var(--color-baby-pink);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem;
  overflow: hidden;
}

.language-switch__thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
  height: 80%;
  border-radius: 99.9rem;
  background: var(--color-white);
  transition: transform 0.22s ease-out;
  z-index: 1;
}

.language-switch--light .language-switch__thumb {
  transform: translate(8%, -50%);
}

.language-switch--dark .language-switch__thumb {
  transform: translate(115%, -50%);
}

.language-switch__icon {
  z-index: 2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark-pink);
  font-size: clamp(1.4rem, 2.2vw, 2.4rem);
}
.language-switch--light .language-switch__icon--light {
  color: var(--color-dark-pink);
}
.language-switch--dark .language-switch__icon--dark {
  color: var(--color-dark-pink);
}
@media (max-width: 480px) {
  .language-switch__inner {
    width: 92%;
  }
}
