.container-navbar {
  position: fixed;        /* fixa no topo */
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: var(--color-baby-pink);
  color: var(--color-black);
  z-index: 1000;
}
.navbar-content {
  max-width: 150rem;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbar-scrollbar {
  width: 100%;
  height: 4px;
  background: transparent;
}
.navbar-scrollbar-fill[style*="width: 0%"] {
  opacity: 0;
}

.navbar-scrollbar-fill[style*="width: 0."] {
  opacity: 1;
}

.navbar-scrollbar-fill {
  height: 100%;
  width: 0;
  background-color: var(--color-dark-pink);
  transition: width 0.1s linear;
}
.navbar-logo {
  image-rendering: auto; 
  height: 100%; 
  display: flex;
  align-items: center; 
}
.navbar-logo img {
  display: block; 
  max-height: 100%; 
  width: auto; 
  object-fit: contain; 
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.navbar-link {
  font-family: var(--font-main);
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 0;
  height: 2px;
  background-color: var(--color-black);
  transition: width 0.2s ease-in-out;
}

.navbar-link:hover::after {
  width: 100%;
}

.navbar-menu-icon {
  display: none;
  border: none;
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
}

.navbar-mobile-menu {
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--color-baby-pink);
  padding: 1.5rem 2.5rem 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.navbar-mobile-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-baby-pink);
}

.navbar-mobile-close {
  align-self: flex-end;
  border: none;
  background: transparent;
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.navbar-mobile-links {
  list-style: none;
  padding: 0;
  margin: 5rem 2rem;
}

.navbar-mobile-link {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2rem;
}
.main-content {
  padding-top: 10vh;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }
}

@media (min-width: 769px) {
  .navbar-mobile-menu {
    display: none;
  }
}
