:root {
  --bg-color: #111111;
  --text-color: #ffffff;
}

:root[data-theme='light'] {
  --bg-color: #eeeeee;
  --text-color: #000000;
}

:root[data-theme='dark'] {
  --bg-color: #111111;
  --text-color: #ffffff;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: #3a3a3a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-baby-pink);
    border-radius: 10px;
    border: 3px solid var(--color-pink);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-baby-pink);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.2s ease, color 0.2s ease;
}
.container-about-me,
.container-curriculum,
.container-education,
.container-projects {
  scroll-margin-top: 20vh;
}