.container-home {
    max-width: 1800px;
    margin: 0 auto;
    height: 120vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.grid div:nth-child(1) {
    background-color: transparent;
}

.grid div:nth-child(2) {
    height: 47vh;
    overflow: hidden;
    position: relative;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.switchs {
    margin-top: 15rem;
    margin-bottom: 15rem;
    margin-left: 2rem;
}
.theme {
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .switchs {
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
}
